<!-- home.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Custom Style -->

    <!-- jQuery -->
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
      <!-- HEADER -->
        <div class="header">
            <div class="header_name col-sm-4">
              <h2>The Final Project</h2>
              <p>Support PM choose members for new project</p>
            </div>
            <div class="header_gpbl col-sm-4">
              <h2 style="color:#ff6e6e;">2018 Global PBL Scholarship</h2>
              <p style="padding-top: 40px;font-size:20px">
                <b>Shibaura Institute of Technology</b>
              </p>
              <p style="font-weight:thin; font-size:18px;">
                Tokyo, January 2018
              </p>
            </div>
            <div class="header_img col-sm-2">
              <img class="img-rounded" src="imgs/sit_logo.png" alt="SIT LOGO">
            </div>
            <div class="header_img col-sm-2">
              <img class="img-rounded" src="imgs/ptit_logo.jpg" alt="">
            </div>
        </div>

        <!-- Main -->
        <div class="main col-sm-7">
          <!-- Input -->
          <div class="main_input">
              <h4 style="padding-left: 10px;
                padding-top: 20px;">
                Choose the member's informations
              </h4>
              <hr>
                <!-- Input Role -->
                <div class="main_input_slected">
                    <span class="col-sm-2">ROLE</span>
                    <select class="control" name="Role" id="">
                        <option value="">Admin</option>
                        <option value="">Coder</option>
                        <option value="">QA</option>
                        <option value="">Tester</option>
                    </select>
                </div>
                <!-- Input Location -->
  	           <div class="main_input_slected">
     				       <span class="col-sm-2" >LOCATION</span>
                   <select name="Location" id="">
                        <option value="">Japan</option>
                        <option value="">Viet Nam</option>
                        <option value="">USA</option>
                        <option value="">Korea</option>
                  </select>
                </div>

              <div class="main_input_submit">
                <input type="submit" value="Search" class="btn btn-danger">
              </div>
          </form>
        </div>
        <!-- Main Result -->
        <div class="main_result ">
            <table class="table">
                 <tr>
                     <td>Role</td>
                     <td>Admin</td>
                 </tr>
                 <tr>
                     <td>Name</td>
                     <td>Tran Manh Toan</td>
                 </tr>
                 <tr>
                     <td>Age</td>
                     <td>22</td>
                 </tr>
                 <tr>
                     <td>Total time work</td>
                     <td>1000 hour</td>
                 </tr>
                 <tr>
                     <td>Quantity of project</td>
                     <td>1</td>
                 </tr>
                 <tr>
                     <td>List of project</td>
                     <td>
                         <table class="ListProject" style="border-style: none;">
                             <tr>
                                 <td>index</td>
                                 <td>name of project</td>
                                 <td>total time</td>
                                 <td>start time</td>
                                 <td>end time</td>
                                 <td>rating</td>
                             </tr>
                             <tr>
                                 <td>1</td>
                                 <td>gPBL</td>
                                 <td>100 hour</td>
                                 <td>10-1-2018</td>
                                 <td>15-1-2018</td>
                                 <td>good</td>
                             </tr>
                         </table>
                     </td>
                 </tr>
            </table>
        </div>

    </div>
</body>
</html>
